.spacer {
  flex: 1 0 auto;
}

button {
  margin: 0 10px;
  &.active {
    filter: brightness(120%);
  }
}

.vertical-line {
  height: 100%;
  width: 2px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
