.model-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.table-loading {

  margin-top: 100px;
}

.main-elements-of-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 100px;
}

.model-data-table {
  min-width: 50%;
}

.th-table,
.td-table {
  text-align: center;
  cursor: default;
}

.td-action-table > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


