.form-container,
.control-form {
  display:  flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  width:  100%;
  height: 100%;
  margin-top: 100px;
}
.control-form {
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 90%;
  width: 100%;
}

.input-field {
  margin-top: 10px;
}

.input-field,
.input-button{
  width: 100%;
}

.input-button {
  margin-top: 15px;
}
